<%-include("partials/header.ejs")%>


    <form action="/editWords" method="post">

    <div class="allPost">
     <div class="title">

    <input type="text" placeholder="Title" name="title" value="<%=title%>" required>

    </div>
    <br>

     <div class="content">
    <textarea name="content"  required><%=content%></textarea>
     </div>

    <br>

   
    <div class="submit">
    <input type="submit" value="submit">
    </div>

  </div>
 <input type="hidden" value="<%=i%>" name="position">

 </form>
<%-include("partials/footer.ejs")%>